*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    color: #503030;
    background-color: #f0efeb;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}

/* --- Global adjustments for mobile compatibility (start) --- */

.header{
    height: auto;
    width: 100%;
    background-color: #e0e0d4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    position: relative;
    z-index: 10;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.left-header-box{
    display: flex;
    flex-direction: column;
    color: #503030;
    letter-spacing: 1px;
}
.Designer-name{
    font-size: 24px;
    font-weight: 600px;
}
.menu-bar ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1.5px;
}
.menu-bar ul .aboutme{
    border: 1px solid grey;
    border-radius: 10px;
    min-width: 90px;
    padding: 2px;
    height: auto;
    text-align: center;
}

/*--Main Section started from here--*/

.section1{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background-color: #f0efeb;
    height:auto;
    width: 100%;
}
.col{
    display: flex;
    flex-direction: column;
}
.left{
    align-items: center;
    justify-content: center;
    padding: 10px;
}   
.left .big-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.left img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.mid{
    align-items: center;
    padding: 50px;
    justify-content: space-between;
}
.mid .about-title{
    font-family: 'Playfair Display', serif;
    text-align: center;
    font-size: 80px;
    letter-spacing: 2px;
    font-weight: 700;
    color: #2f2222;
}
.mid .about-text{
    width: 100%;
    line-height: 1.75;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.right{
    align-items: center;
    padding: 50px;
}

.right .image-description{
    font-family: sans-serif;
    line-height: 1.5;
    letter-spacing: 2px;
    font-weight: 300;
    margin-bottom: 50px;
}
.small-image img{
    height: 100%;
    width: 100%;
    align-self: center;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.footer-strip{
    height: 40px;
    width: 100%;
    background-color: black;
    color: #fff;
    padding: 8px 20px;
    text-wrap: norwrap;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

/*--Tablet Style (e.g. 768px or up)--*/

@media screen and (min-width:768px){
.header{
    height: auto;
    padding: 10px 10px;
}
.left-header-box{
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    color: #503030;
    letter-spacing: 1px;
}
.Designer-name{
    font-size: 24px;
}
.menu-bar ul{
    gap: 15px;
    font-size: 11px;
}
.left .big-image{
    height: 100%;
    max-height: 500px;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.left img{
    height: 100%;;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
} 

/*--Desktop Style (e.g. 1024 px and up)--*/

@media screen and (min-width:1024px){
.Designer-name{
    font-size: 30px;
}
.menu-bar ul{
    gap: 20px;
    font-size: 11px;
}
.section1{
    height: calc(100vh - 120px);
    gap: 0px;
}
.col{
    flex-direction: row;
}

.left{
    height: 100%;
    flex: 1;
}   
.mid{
    height: 100%;
    flex: 1;
    padding: 20px;
    flex-direction: column;
}
.right{
    height: 100%;
    flex: 1;
    flex-direction: column;
    padding: 20px;
}
.left .big-image{
    height: 100%;
    max-height: calc(100vh - 120px);
}
.mid .about-title{
    font-size: 70px;
    margin-top: 50px;
}
.mid .about-text{
    margin-bottom: 50px;
}
.right .image-description{
    margin-bottom: 50px;
    margin-top: 50px;
}

}
