*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    color: #503030;
    background-color: #f0efeb;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}
.header{
    height: 80px;
    width: 100%;
    background-color: #e0e0d4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    z-index: 10;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.left-header-box{
    display: flex;
    flex-direction: column;
    color: #503030;
    letter-spacing: 1px;
}
.Designer-name{
    font-size: 30px;
    font-weight: 600px;
}
.menu-bar ul{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1.5px;
}
.hreo-section{
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    background-color: #f0efeb;
    height: calc(100vh-120px);
}
.hreo-section .left-content{
    display: flex;
    flex: 2;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
}
.portfolio-title{
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    font-weight: 400px;
    line-height: 0.9;
    letter-spacing: 2px;
    margin-bottom: 50px;
}
.cta-button{
    display: flex;
        width: 120px;
        height: 30px;
        background-color: #fff;
        border-radius: 5px;
        padding: 5px 5px;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.hreo-section .right-section{
    position: relative;
    min-width: 600px;
}
.right-section-image-container{
    width: 600px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 40px;
}
.right-section img{
    height: calc(100vh - 120px);
    width: 100%;
    object-fit: cover;
}

.footer-strip{
    height: 40px;
    background-color: black;
    color: #fff;
    padding: 0px 20px;
    text-wrap: norwrap;
    white-space: nowrap;
    padding: 8px 0px;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}
