*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    color: #503030;
    background-color: #f0efeb;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style: none;
}

/* --- Global adjustments for mobile compatibility (start) --- */
.header{
    height: auto;
    width: 100%;
    background-color: #e0e0d4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    position: relative;
    z-index: 10;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.left-header-box{
    display: flex;
    flex-direction: column;
    color: #503030;
    letter-spacing: 1px;
}
.Designer-name{
    font-size: 24px;
    font-weight: 600px;
}
.menu-bar ul{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 25px;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1.5px;
}
.hreo-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f0efeb;
    height: auto;
}
.hreo-section .left-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: auto;
    flex-basis: 100%;
}
.portfolio-title{
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    font-weight: 400px;
    line-height: 0.9;
    letter-spacing: 2px;
    margin-bottom: 50px;
    margin-top: 40px;
}
.cta-button{
    display: flex;
    width: 100%;
    height: 60px;
    margin-top: 40px;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 5px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.hreo-section .right-section{
    display: flex;
    height: auto;
    width: 100%;
    padding: 10px 30px;
}
.right-section img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
}
.footer-strip{
    height: 40px;
    background-color: black;
    color: #fff;
    padding: 8px 20px;
    text-wrap: norwrap;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}


/* --- Tablet Styles (e.g., 768px and up) --- */

@media screen and (min-width: 768px){
.header{
    height: 80px;
    padding: 10px 20px;

}
.Designer-name{
    font-size: 30px;
    font-weight: 600px;
}
.portfolio-title{
    font-size: 100px;
}
.cta-button{
    display: flex;
    width: 600px;
    height: 60px;
    margin-top: 40px;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 5px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
}


 /* --- Desktop Styles (e.g., 1024px and up) --- */


@media screen and (min-width: 1024px){
.Designer-name{
    font-size: 50px;
    font-weight: 600px;
}
.hreo-section{
    display: flex;
    justify-content: space-between;
    background-color: #f0efeb;
    height: calc(100vh - 120px);
}
.hreo-section .left-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
    flex-basis: 50%;
}
.portfolio-title{
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    font-weight: 400px;
    line-height: 0.9;
    letter-spacing: 2px;
    margin-bottom: 50px;
    margin-top: 40px;
}
.cta-button{
    display: flex;
    width: 300px;
    height: 60px;
    margin-top: 40px;
    background-color: #fff;
    border-radius: 5px;
    padding: 5px 5px;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.hreo-section .right-section{
    display: flex;
    height: calc(100vh - 120px);
    flex-basis: 50%;
    padding: 10px 30px;
}
.right-section img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position:bottom;
}
.footer-strip{
    height: 40px;
    background-color: black;
    color: #fff;
    padding: 8px 20px;
    text-wrap: norwrap;
    white-space: nowrap;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

}
