* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  color: #503030;
  background-color: #f0efeb;
  display: flex;
  flex-direction: column;
}
a {
  text-decoration: none;
  color: inherit;
}
ul {
  list-style: none;
}

/*--Header Bar Started--*/

.header {
  height: auto;
  width: 100%;
  background-color: #e0e0d4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  z-index: 10;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.left-header-box {
  display: flex;
  flex-direction: column;
  color: #503030;
  letter-spacing: 1px;
}
.Designer-name {
  font-size: 24px;
  font-weight: 600px;
}
.menu-bar ul {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1.2px;
}
.menu-bar ul .skills {
  border: 1px solid grey;
  border-radius: 10px;
  min-width: 90px;
  padding: 2px;
  height: auto;
  text-align: center;
}

/*--1st page started here--*/

.full-page-container{
  height: 100vh;
}
.page-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0px 5px;
  background-color: #f0efeb;
  height: auto;
  width: 100%;
}
.P1-left {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 10px 0;
  padding: 10px;
}
.col {
  color: #fff;
  padding: 2px;
  font-family: "Montserrat";
  flex-grow: 1;
}
.a {
  width: 100%;
  height: auto;
  color: #503030;
  font-size: 18px;
  display: flex;
}
.skill-list{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}
.skill-list li{
  width: 100%;
  border-top: 1px solid #000000;
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
}
.skill-list li::before {
  content: '➤'; /* Unicode character for a black right-pointing pointer */
  font-size: 20px; /* Adjust size of the arrow */
  color: #000000; /* Color of the arrow */
  margin-right: 10px; /* Space between the arrow and the text */
  /* Optional: Adjust position slightly if needed */
  position: relative; 
  align-items: center;
}
.skill-list .last-li{
  border-bottom:1px solid #000000; ;
}
.b {
  height: auto;
  width: 100%;
  font-size: 20px;
  color: #000000;
  margin-bottom: 30px;
}
.text{
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 2px;
  text-align: center;
}
.c{
  display: flex;
  height: auto;
  width: 100%;
  align-items: center;
  justify-content: center;
  color: #000000;
}
.c .title{
  font-size: 60px;
  font-weight: 200;
  line-height: .9;
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
  text-align: center;
}
.p1-right {
  display: flex;
  padding: 10px;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.p1-right img{
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

/*--second page started--*/

.page-2 {
  display: flex;
  flex-direction: column;
  background-color: #f0efeb;
  height: auto;
  width: 100%;
}
.p2-left{
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
}
.p2-left .box-a{
  width: 100%;
  height: auto;
  color: #000000;
  padding: 50px 0px;
}
.p2-left .box-a h1{
  font-size: 60px;
  font-weight: 200;
  line-height: .9;
  font-family: 'Playfair Display', serif;
  letter-spacing: 2px;
  text-align: center;
}
.p2-left .box-b{
  width: 100%;
  max-height: 600px;
  color: #000000;
  padding: 10px
}
.p2-left .box-b img{
  height: 100%;
  width: 100%;
  border-radius: 20px;
  object-fit: cover;
  object-position: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.p2-left .box-c{
    width: 100%;
    height: auto;
    padding: 10px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.p2-left .box-c img{
    display: none;
}
.p2-left .box-c p{
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 2px;
  text-align: center;
}

.p2-right{
  height: auto;
  width: 100%;
  padding: 10px;
}

.p2-right ul{
  display: none;
}
.p2-right img{
  width: 100%;
  height: 500px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.footer-strip{
    position: relative;
    height: 40px;
    width: 100%;
    background-color: black;
    color: #fff;
    padding: 0px 20px;
    text-wrap: norwrap;
    white-space: nowrap;
    padding: 8px 0px;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}

/*--Tab Style (e.g. 768px or up)--*/

@media screen and (min-width: 768px){
.a {
  flex-basis: 50%;
}
.b {
  flex-basis: 50%;
  padding-left: 20px;
}
.b .text{
  text-align: start;
}
.c br{
  display: none;
}
.c .title{
  font-size: 70px;
}

/*--page 2--*/

.p2-left{
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.p2-left .box-a{
  flex-basis: 100%;
}
.p2-left .box-a h1{
  font-size: 70px;
}
.p2-left .box-b{
  flex-basis: 50%;
}
.p2-left .box-c{
    flex-basis: 50%;
    margin-bottom: 50px;
    align-items: center;
}
.p2-left .box-c img{
    display: block;
    width: 50%;
    height: auto;
    margin-bottom: 30px;
}
.p2-left .box-c p{
  text-align: start;
  margin-bottom: 0px;
}
.p2-right{
  margin-top: 30px;
}
.p2-right ul{
  display: none;
}
}
/*--Desktop Style (e.g. 768px or up)--*/

@media screen and (min-width: 1024px){
.header {
  height: 80px;
  padding: 10px 20px;
  position: sticky;
  top: 0;
}
.Designer-name {
  font-size: 30px;
}
.menu-bar ul {
  flex-wrap: nowrap;
  gap: 25px;
  font-size: 11px;
  letter-spacing: 1.5px;
}
.page-1 {
  flex-direction: row;
  flex-wrap: wrap;
  height: calc(100vh - 80px);
  gap: 0px;
}
.P1-left {
  flex-basis: 60%;
  height: 100%;
}
.a {
  flex-basis: 50%;
  padding: 20px 0px;
}
.b {
  flex-basis: 50%;
  padding: 20px;
}
.c{
  align-items: start;
}
.c .title{
  font-size: 120px;
}
.c br{
  display: flex;
}
.p1-right {
  flex-basis: 40%;
}
.p1-right img{
  width: 100%;
  height: 100%;
}

.page-2 {
  flex-direction: row;
  background-color: #f0efeb;
  height: calc(100vh - 120px);
  width: 100%;
}
.p2-left{
  flex-basis: 60%;
}
.p2-right{
  flex-basis: 40%;
}
.p2-left .box-a{
    flex-basis: 100%;
    height: 30%;
}
.p2-left .box-a h1{
  font-size: 120px;
}
.p2-left .box-b{
  flex-basis: 60%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.p2-left .box-b img{
  display: block;
  width: 80%;
  flex-grow: 1;
  object-fit: cover;
}
.p2-left .box-c{
  flex-basis: 40%;
}
.p2-left .box-c img{
    display: block;
}
.p2-left .box-c p{
  font-size: 24px;
}

.p2-right{
flex-basis: 40%;
display: flex;
flex-direction: column;
gap: 100px;
}
.p2-right ul{
  display: block;
}
.p2-right img{
  width: 50%;
  height: 50%;
  object-fit: cover;
  object-position: center;
}
}
